{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block menu %}
  {% with selected='audit_overview' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navtitle %}
  {% with icon='heartbeat' header='Auditing Results' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'audit_overview.css' %}">
{% endblock %}

{% block content %}

  <div class="app">
    <main-header></main-header>
    <issue-list></issue-list>
  </div>
  <div class="ui basic tiny modal">
    <div class="ui icon header">
      <i class="question circle icon"></i>
      <span id="action-modal-text"></span>
    </div>
    <div class="actions centered-text">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Oops, my bad
      </div>
      <div class="ui green ok basic inverted button" data-action="">
        <i class="checkmark icon"></i>
        Yeah, I'm sure
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const pluralize = function (num, singular, plural) {
      return num + ' ' + (num === 1 ? singular : plural)
    }
    const auditOverviewCsrfToken = '{{ csrf_token }}'
    const auditOverviewIssueEndpoint = '{% url "bulk_create_issues" %}'
    const auditOverviewPatchEndpoint = '{% url "bulk_apply_patches" %}'
    const auditOverviewUrl = '{% url "audit_overview" %}'
  </script>
  <script src="{% static 'audit_overview.js' %}"></script>
{% endblock %}
