{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block menu %}
  {% with selected='service_list' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navtitle %}
  {% with icon='heartbeat' to_url='/services/'|add:service.owner_slug|add:'/'|add:service.name_slug header='Audit Results for '|add:service.name %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'audit_report.css' %}">
{% endblock %}

{% block content %}
{% for category, category_issues in issues.items %}
<h3 class="ui dividing header">{{ category }}</h3>
  {% for issue in category_issues %}
  <div class="flex-horizontal--space-between">
    <h4 class="ui marginless header">
      {{ issue.kind.title }}
    </h4>
    <div class="flex-horizontal">
      <div class="ui circular {% label_color 'issue_effort' issue.kind.effort.value %} label">
        effort:{{ issue.kind.effort.value }}
      </div>
      <div class="ui circular {% label_color 'issue_severity' issue.kind.severity.value %} label">
        severity:{{ issue.kind.severity.value }}
      </div>
      {% if not issue.remote_issue_id %}
      <form method="post" action="{% url 'open_git_issue' service_owner_slug=service.owner_slug service_name_slug=service.name_slug issue_pk=issue.pk %}">
        {% csrf_token %}
        <button type="submit" class="ui mini brown vertical animated button">
          <div class="hidden content">
            <i class="gitlab icon"></i>
          </div>
          <div class="visible content">
              Open issue
          </div>
        </button>
      </form>
      <div class="ui mini basic negative vertical animated wontfix button" data-url="{% url 'wontfix_issue' service_owner_slug=service.owner_slug service_name_slug=service.name_slug issue_pk=issue.pk %}">
        <div class="hidden content">
          <i class="times icon"></i>
        </div>
        <div class="visible content">
            Wontfix
        </div>
      </div>
      {% else %}
      <a href="{{ issue.remote_issue_url }}" class="ui mini brown button">
          Issue #{{ issue.remote_issue_id }}
      </a>
      {% endif %}
    </div>
  </div>
  <div class="ui segment">
    {{ issue.description_html | safe }}
  </div>
  {% endfor %}
{% empty %}
<div class="ui basic segment flex-horizontal">
  <br>
  <h1 class="ui header">
    <i class="smile icon"></i>
    <div class="content">
      No issues found
      <div class="sub header">
        That's awesome! Let's keep it like this
      </div>
    </div>
  </h1>
</div>
{% endfor %}

{% if service.repository %}
<a href="?force">
  <button class="ui huge yellow corner circular icon button">
    <i class="ui refresh icon"></i>
  </button>
</a>
{% endif %}

<div class="ui basic tiny modal">
  <div class="ui icon header">
    <i class="thumbs down icon"></i>
    Please describe why!
  </div>
  <div class="content">
    <form method="post" class="ui inverted resolve issue form" >
      <div class="field">
        <label>Are you sure this shouldn't or can't be fixed?</label>
        <textarea id="comment" name="comment" required rows="2"></textarea>
        <div class="ui red pointing label transition hidden">
          Please enter a valid reason
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
  <div class="actions centered-text">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Yeah, I'm sure
    </div>
    <div class="ui green ok inverted button" data-action="">
      <i class="checkmark icon"></i>
      Fine, let's fix it!
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'audit_report.js' %}"></script>
{% endblock %}
