@import '~zoo:base/style/_variables.less';

.spec-def {
  padding-bottom: 1em;
}

.ui.api.header {
  flex: 1;
  justify-content: flex-start;
}

.swagger-ui {
  font-family: Roboto, Helvetica Neue, Arial, Helvetica, sans-serif !important;

  .information-container {
    display: none;
  }

  .scheme-container {
    background: #f3f4f5;
    color: rgba(0, 0, 0, .6);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    padding: 1em;
    margin: 0;
    margin-bottom: 1em;

    .schemes {
      padding: 0;
      align-items: center;
    }

    .servers {
      margin-top: -.25em;
    }

    .servers-title {
      margin-top: -.5em;
      display: block;
    }

    .authorize {
      margin: 0;
    }
  }

  .opblock-tag {
    font-size: 1.28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
  }

  .opblock-tag-section > div:first-of-type {
    padding: 15px !important;
  }

  .opblock {
    box-shadow: none;
  }

  .opblock-post {
    border-radius: .28571429rem;
  }
}

.sentry-stats {

  .sentry-own.icon {
    margin-bottom: .25rem;
    margin-top: -.3rem !important;
    fill: @black;
  }

  .ui.sentry-rating.header {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .panel-title {
    justify-content: space-between;
  }

  .ui.rating-grade.circular.label {
    padding: 0 !important;
    height: 1.8rem;
    width: 1.8rem;
    min-width: 0;
    min-height: 0;
    margin-top: -.25rem;
    line-height: 1.85rem;
  }

  .sentry-issues-container {
    margin-top: .5rem;
    max-height: 320px;
    overflow-y: auto;
    border: 1px solid @segment-border-color;
    border-radius: @border-radius;
    box-shadow: 0 1px 2px 0 @segment-border-color;
    background: rgba(0, 0, 0, .025)!important;
  }

  .issue-stats>.flex-vertical {
    align-items: flex-end;
  }

  .chart .bar {
    opacity: .6;
    border-radius: @border-radius;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.ui.issue-description-popup.popup {
  min-width: 350px;
}

.ui.project-actions.button {

  .left.menu {
    margin: 0 3.25em 0 0;
  }

  .item {
    padding: 0 !important;

    .ui.invisible.button {
      margin: 0;
      background: none !important;
    }
  }
}

.ui.pointing.menu {

  .loading.item {
    position: relative;
    cursor: default;
    pointer-events: none;
    transition: all 0s linear;
    box-shadow: inset -1px 0 0 0 rgba(34, 36, 38, .1);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: rgba(243, 244, 245, .8);
      width: calc(100% - 1px);
      height: 100%;
      z-index: 100;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin: -1em 0 0 -1em;
      width: 2em;
      height: 2em;
      animation: loader .6s infinite linear;
      border: .2em solid #767676;
      border-radius: 500rem;
      box-shadow: 0 0 0 1px transparent;
      visibility: visible;
      z-index: 101;
      border-bottom-color: rgba(0, 0, 0, .1);
      transform: none;
    }
  }
}
