{#{% extends 'shared/project_list.html' %}#}
{#{% load static %}#}
{#{% load utils %}#}
{##}
{#{% block menu %}#}
{#  {% with selected='services' %}#}
{#    {{ block.super }}#}
{#  {% endwith %}#}
{#{% endblock %}#}
{##}
{#{% block navtitle %}#}
{#  {% with icon='cogs' header='Service list' %}#}
{#    {{ block.super }}#}
{#  {% endwith %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#  {% with project_type='services' project_create_view='service_create' %}#}
{#    {{ block.super }}#}
{#  {% endwith %}#}
{#{% endblock %}#}
{##}
{#{% block project_links %}#}
{#  {% project_link 'Support' object.slack_url icon='comment alternate' %}#}
{#  {% project_link 'Repository' object.gitlab_url icon='code' %}#}
{#  {% project_link 'Dashboard' object.dashboard_url icon='chart pie' %}#}
{#  {% project_link 'Alerts' object.pagerduty_url icon='warning' %}#}
{#  {% project_link 'Documentation' object.docs_url icon='graduation cap' %}#}
{#{% endblock %}#}
{% for s in service %}
  {{ s }}
{% endfor %}
