{% extends 'base.html' %}
{% load raven %}
{% load static %}

{% block menu %}
{{ block.super }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block content %}
<div class="splash">
  <div class="ui basic center aligned segment">
    <h1 class="ui auth header"><span class="branding">{% block statusmsg %}{% endblock %}</span></h1>
  </div>
  <h4 class="ui inverted header">
    Are you wondering what you can do?
  </h4>
  <div class="ui ten wide column">
    <div class="ui basic segment">
      <div class="ui raised secondary segment">
        <div class="content">
          <div class="ui relaxed list">
            <div class="item">
              <i class="refresh icon"></i>
              <div class="content">
                <div class="header">Reload the page</div>
                <div class="description">You can try refreshing the window, maybe this is a temporary issue</div>
              </div>
            </div>
            <div class="item">
              <i class="browser icon"></i>
              <div class="content">
                <div class="header">Check the URL</div>
                <div class="description">If you have written the URL by hand, make sure that it is correct</div>
              </div>
            </div>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <div class="header">Contact the Zoo admins</div>
                <div class="description">
                  The zookeepers sometimes screw things up, ping them! They surely don't bite.
                  {% if request.sentry.id %}
                  <br>You can mention your error ID:
                  <pre>{{ request.sentry.id }}</pre>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <div class="header">Create a GitHub issue</div>
                <div class="description">
                  If you think this zoo was built wrong, well, you're likely right.
                  Create an issue on <a href="https://github.com/kiwicom/the-zoo">GitHub</a>!
                  {% if request.sentry.id %}
                  <br>You should include a public link to this Sentry event:
                  <pre>{{ request.sentry.id }}</pre>
                  {% else %}
                  <br>It would be helpful if you configured error reporting to Sentry,
                  so that you can provide more details in the issue.
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% if request.sentry.id %}
<script>
  Raven.showReportDialog({
    eventId: '{{ request.sentry.id }}',
    dsn: '{% sentry_public_dsn %}'
  });

</script>
{% endif %}
{% endblock %}
