env
venv
.env
.bento
.github
adr
docs
.adr-dir
.direnv
*.cfg
*.pyc
*.egg
*.egg-info
dist
build
eggs
pip-log.txt
.coverage
.tox
.git
nosetests.xml
**/.idea
db.sqlite3
/zoo/public/
webpack/node_modules/
