.adr-dir
.bento
.coverage
.direnv
.env
.git
.github
.mypy_cache
.tox
*.cfg
*.egg
*.egg-info
*.nix
*.pyc
**/.idea
/zoo/public/
adr
build
db.sqlite3
dist
docs
eggs
env
Makefile
nosetests.xml
pip-log.txt
postgres-data
venv
webpack/node_modules/
