[MASTER]
jobs=2

[MESSAGES CONTROL]
disable =
  abstract-method,
  bad-continuation,
  bare-except,
  broad-except,
  fixme,
  inconsistent-return-statements,
  invalid-name,
  line-too-long,
  locally-disabled,
  missing-docstring,
  no-member,
  no-self-use,
  no-value-for-parameter,
  protected-access,
  raise-missing-from,
  redefined-builtin,
  redefined-outer-name,
  relative-import,
  too-few-public-methods,
  too-many-ancestors,
  ungrouped-imports,
  unused-argument,
  wrong-import-position,

[REPORTS]
output-format=colorized

[FORMAT]
logging-modules=
  logging,
  structlog,
