arrow
attrs
celery
celery-redbeat
colorama
datadog
ddtrace==0.29.0
django
djangoql
django-allauth
django-debug-toolbar
django-environ
django-extensions
django-silk
django-stronghold
dockerfile-parse
graphene
graphene-django
gunicorn[gevent]
hiredis
ipython
markdown
psycopg2
pygerduty
python-gitlab
PyGithub
pyyaml
raven
redis
requests
requirements-parser
structlog
whitenoise
