arrow
attrs
celery
colorama
datadog
ddtrace==0.27.0
django
djangoql
django-allauth
django-debug-toolbar
django-environ
django-extensions
django-silk
django-stronghold
dockerfile-parse
graphene
graphene-django
gunicorn
hiredis
ipython
markdown
psycopg2
python-gitlab
PyGithub
pyyaml
raven
redis
requests
requirements-parser
structlog
whitenoise
