coverage~=4.5.3  # sonarqube has problems parsing 4.4's output https://github.com/nedbat/coveragepy/issues/578
httpretty
pylint
pytest
pytest-cov~=2.5.1  # otherwise there's a conflict with coverage~=4.5.3
pytest-django
pytest-env
pytest-factoryboy
pytest-mock
pytest-xdist
pytest-freezegun
snapshottest
testing-postgresql
