{% extends 'base.html' %}
{% load utils static %}

{% block menu %}
{% with selected='resources' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block navtitle %}
{% url 'library_overview' as library_overview_url %}
{% url 'dependency_overview' as dependency_overview_url %}
{% url 'language_overview' as language_overview_url %}

<nav class="ui container secondary pointing menu">
  <a href="{{ library_overview_url }}"
    class="{% if request.path == library_overview_url or request.path == dependency_overview_url %}active {% endif %}item">
    <i aria-hidden="true" class="book icon"></i>
    Libraries
  </a>
  <a href="{{ language_overview_url }}" class="{% if request.path == language_overview_url %}active {% endif %}item">
    <i aria-hidden="true" class="stream icon"></i>
    Languages
  </a>
</nav>
{% endblock %}

{% block content %}
{% include "resource_header.html" with title=view.title icon=view.icon url=request.path only %}
<table class="ui sortable very basic table" summary="List of resources">
  <thead>
    <tr>
      <th scope="col" class="sorted collapsing descending">Usage</th>
      <th scope="col" class="collapsing">Name</th>
      <th scope="col" class="">Latest version</th>
      <th scope="col" class="center aligned collapsing">Type</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    {% url 'dependency_detail' object.id as detail_url %}
    <tr>
      <td class="right aligned">{{ object.usage_count }}</td>
      <td><a href="{{ detail_url }}" style="white-space: nowrap">{{ object.name }}</a></td>
      {% with object.depusage|dependency_versions:1 as version %}
      <td>{% if version.0.0 %}<span class="ui label">{{ version.0.0 }}</span>{% endif %}</td>
      {% endwith %}
      <td class="center aligned">
        <div class="ui {% label_color 'language' object.type %} label">
          {{ object.type|cut:" Library" }}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% if is_paginated %}
<div class="ui basic center aligned segment">
  <div class="ui pagination menu">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
      class="item">
      <i aria-hidden="true" class="chevron left icon"></i>
    </a>
    {% else %}
    <div class="active item">
      <i aria-hidden="true" class="chevron left icon"></i>
    </div>
    {% endif %}
    <div class="item">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
      class="item">
      <i aria-hidden="true" class="chevron right icon"></i>
    </a>
    {% else %}
    <div class="active item">
      <i aria-hidden="true" class="chevron right icon"></i>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'dependency_overview.js' %}"></script>
{% endblock scripts %}
