{% extends 'skeleton.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block body %}
<div class="splash">
  <div class="ui basic center aligned segment">
    <h1 class="ui auth header">Welcome to<br> <span class="branding">The Zoo!</span></h1>
    <a href="{% provider_login_url 'gitlab' %}">
      <button class="ui big brown vertical animated button">
        <div class="visible content">Let me in</div>
        <div class="hidden content"><i class="gitlab icon"></i></div>
      </button>
    </a>
  </div>
</div>
{% endblock %}
