{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block menu %}
  {% with selected='account_logout' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block content %}
<div class="splash">
  <div class="ui basic center aligned segment">
    <h1 class="ui auth header"><span class="branding">See ya!</span></h1>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="ui big brown vertical animated button">
        <div class="visible content">I'm out</div>
        <div class="hidden content"><i class="hand peace icon"></i></div>
      </button>
    </form>
  </div>
</div>
{% endblock %}
