@import '~zoo:base/style/_helpers.less';
@import '~zoo:base/style/_variables.less';
@import '~zoo:base/style/code.less';
@import (inline) "~highlight.js/styles/solarized-light.css";

.app {
  width: inherit;

  .issue-list {
    width: inherit;

    &.loading {
      min-height: 10rem;
    }

    .table-actions {
      .flex-horizontal();
      width: inherit;
      position: fixed;
      bottom: 0;
      height: 38px;
      border-top: 0;
      justify-content: space-between;
      margin: 0;
      padding: 1.5rem .5rem;

      .selected-info {
        padding: 0 1rem;

        .ui.header {
          margin: 0;
          margin-right: 1rem;
        }
      }

      .clear-selected-button {
        opacity: .75;
      }
    }
  }
}

.ui.popup {
  max-width: 40%
}

.page-header {
  justify-content: space-between;
}

.severity-advice {
  background: @green !important;
  color: white !important;
}

.severity-warning {
  background: @yellow !important;
  color: black !important;

  .ui.header {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.severity-critical {
  background: @red !important;
  color: white !important;

  .ui.label {
    cursor: default;
  }
}

.main-header {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ui.icon.message {
  background: @white;
}

.ui.issue.segments {
  margin-bottom: .15rem;
  margin-top: .15rem;
}

.ui.issue.segment {
  .flex-horizontal();
  justify-content: space-between;
  padding: .75rem;

  .actions-wrapper {
    .ui.icon.button {
      margin: 0;
      width: 47px;
      height: 47px;
    }
  }

  .ui.header small {
    font-weight: 500;
    opacity: .75;
  }

  .ui.circular.label {
    margin-top: .15rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .tags-wrapper {
    justify-content: flex-start;
    margin-top: .25rem;

    &:empty {
      margin: 0;
    }

    .ui.label:first-child {
      margin-left: 0;
    }
  }

  &.accordion .title {
    color: rgba(0,0,0,.4);

    &:hover {
      color: @black;
    }
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .flex-vertical();

    .ui.header {
      text-align: center;
      margin: 0 0 1rem !important;
    }
  }

  @media only screen and (max-width: @mobileBreakpoint) {

    .tags-wrapper {
      width: 100%;
      overflow-x: auto;
    }

    .actions-wrapper {
      flex-direction: column;
      width: 100%;

      .ui.button {
        width: 100%;
        margin-bottom: .5rem;
      }
    }
  }

  .ui.header {
    margin-bottom: 0;
    flex-grow: 1;
  }

  .ui.label {
    cursor: default;
  }

  .code.icon {
    margin: 0 .1rem 0 -.1rem !important;
  }
}
