@import '~zoo:base/style/code.less';
@import (inline) "~highlight.js/styles/solarized-light.css";

.modal .content {
  text-align: center;
  padding: 0 1rem;

  .red.pointing.label {
    font-weight: 400;
  }
}
