.display-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-horizontal {
  .display-flex();
  flex-direction: row;
}

.flex-horizontal--space-between {
  .flex-horizontal();
  justify-content: space-between;
}

.flex-vertical {
  .display-flex();
  flex-direction: column;
}

.marginless {
  margin: 0 !important;
}

.paddingless {
  padding: 0 !important;
}

.borderless {
  border: 0 !important;
}

.centered-text {
  text-align: center !important;
}
