{% extends 'base.html' %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block menu %}
  {% with selected='analytics_overview' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navtitle %}
    {% with icon="chart pie" header="Analytics" %}
      {{ block.super }}
    {% endwith %}
    <div class="ui search icon input">
      <i class="search icon"></i>
      <input type="text" name="name" placeholder="Search...">
    </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'analytics_overview.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
{% endblock %}

{% block content %}
{% if services %}
<div class="ui secondary segment">
  <h5 class="ui header">Showing dependencies for the following services</h5>
  <ul class="ui list">
    {% for svc in services %}<li><a href="{% url 'service_detail' svc.owner_slug svc.name_slug %}">{{ svc.name }}</a></li>{% endfor %}
  </ul>
</div>
{% endif %}
<table class="ui sortable striped table">
  <thead>
    <tr>
      <th class="collapsing"><a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort_by=name">Name</a></th>
      <th class="collapsing no-sort">
        <div class="ui inline dependency-type dropdown">
          <div class="text">Type</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-text="clear">Clear</div>
            {% for type in dependency_types %}
            <div class="item" data-text="{{ type }}">{{ type }}</div>
            {% endfor %}
          </div>
        </div>
      </th>
      <th class="collapsing sorted descending">Occurrences</th>
      <th class="collapsing">versions</th>
      <th class="collapsing">Inserted</th>
      <th class="collapsing">Internal</th>
      <th class="collapsing">Health status</th>
      <th class="collapsing no-sort">Usage</th>
    </tr>
  </thead>
  <tbody>
      {% for dependency in dependencies %}
      <tr>
        <td data-sort-value="{{ dependency.instance.name }}" class="collapsing"><b>{{ dependency.instance.name }}</b></td>
        <td class="collapsing centered-text">{{ dependency.instance.type }}</td>
        <td data-sort-value="{{ dependency.instance.dep_count }}" class="collapsing centered-text">{{ dependency.instance.dep_count }}</td>
        <td class="collapsing">
          <canvas width="150" height="32" class="version-chart" id="{{ dependency.version_chart.id }}" data-chart='{{ dependency.version_chart.data }}'></canvas>
        </td>
        <td data-sort-value="{{ dependency.instance.timestamp.timestamp }}"  class="collapsing centered-text">{{ dependency.instance.timestamp|naturaltime }}</td>
        <td data-sort-value="{{ dependency.internal }}"  class="collapsing centered-text">
          <i class="{% label_icon 'analytics_internal' dependency.internal %} {% label_color 'analytics_internal' dependency.internal %} icon"></i>
        </td>
        <td data-sort-value="{{ dependency.healthy }}" class="collapsing centered-text">
          <i class="{% label_icon 'analytics_health' dependency.instance.health_status %} {% label_color 'analytics_health' dependency.instance.health_status %} icon"></i>
        </td>
        <td class="collapsing">
          <canvas width="175" height="32" class="usage-chart" id="{{ dependency.usage_chart.id }}" data-chart='{{ dependency.usage_chart.data }}'></canvas>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<div class="ui basic center aligned segment">
  <div class="ui pagination menu">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="item">
      <i class="chevron left icon"></i>
    </a>
    {% else %}
    <div class="active item">
      <i class="chevron left icon"></i>
    </div>
    {% endif %}
    <div class="item">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="item">
      <i class="chevron right icon"></i>
    </a>
    {% else %}
    <div class="active item">
      <i class="chevron right icon"></i>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
{% block scripts  %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'analytics_overview.js' %}"></script>
{% endblock %}
