{% extends 'skeleton.html' %}
{% load static %}

{% block body %}
  <div class="ui small brown inverted top fixed pointing main menu">
    <div class="ui container">
    <a class="branding item" href="/">The Zoo</a>
    <div class="right menu">
      {% block menu %}
      <a href="{% url 'service_list' %}" class="{% if selected == 'services' %}active {% endif %}item">
        <i class="settings icon"></i>
        Services
      </a>
      <a href="{% url 'library_overview' %}" class="{% if selected == 'resources' %}active {% endif %}item">
        <i class="box icon"></i>
        Resources
      </a>
      <a href="{% url 'audit_overview' %}" class="{% if selected == 'audit_overview' %}active {% endif %}item">
        <i class="heartbeat icon"></i>
        Auditing
      </a>
      <a href="{% url 'global_checklists' %}" class="{% if selected == 'checklists' %}active {% endif %}item">
        <i class="clipboard check icon"></i>
        Checklists
      </a>
      <a href="{% url 'objective_list' %}" class="{% if selected == 'objective_list' %}active {% endif %}item">
        <i class="chart bar icon"></i>
        Objectives
      </a>
      {% if selected == 'search_overview' %}
        <a href="{% url 'search_overview' %}" class="active item">
          <i class="search icon"></i>
          Search Results
        </a>
      {% endif %}
      {% block search_form %}
        <div class="ui item">
        <div class="ui right aligned category fluid search project-filter" style="width: 250px;">
          <div class="ui left labeled icon fluid input">
            <input id="search-bar" name="q" class="prompt" type="text" placeholder="Search ..." tabindex="1">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
          </div>
        </div>
      </div>
        {% endblock %}
      <div class="ui link item user-actions">
        <i class="user icon"></i>
        <span class="text">{{ request.user }}</span>
        <i class="dropdown icon"></i>
      </div>
      <div class="ui popup" style="padding: .5rem;">
        <div class="menu">
          <a href="{% url 'logout' %}" class="item">
            <i class="hand peace icon"></i>
            Log out
          </a>
        </div>
      </div>
      {% endblock %}
    </div>
    </div>
  </div>
  <div class="ui container">
    <div class="flex-horizontal page-header">
    {% block navtitle %}
      {% if header %}
        <div class="flex-horizontal">
          {% if to_url %}
          <a href="{{ to_url }}" class="ui transparent circular icon button">
            <i class="left arrow icon"></i>
          </a>
          {% endif %}
          <h2 class="ui header">
            {% if icon %}
            <i class="{{ icon }} icon"></i>
            {% endif %}
            <div class="content">
              {{ header }}
              {% if subheader %}
              <div class="sub header">
                {{ subheader }}
              </div>
              {% endif %}
            </div>
          </h2>
        </div>
      {% endif %}
    {% endblock %}
  </div>
  {% block content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'header_search.js' %}"></script>
{% endblock %}
