{% load static %}
{% load raven %}
{% load utils %}

<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Zoo</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static " favicon/apple-touch-icon.png " %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static " favicon/favicon-32x32.png " %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static " favicon/favicon-16x16.png " %}">
  <link rel="manifest" href="{% static " favicon/site.webmanifest " %}">
  <link rel="mask-icon" href="{% static " favicon/safari-pinned-tab.svg " %}" color="#795548">
  <link rel="shortcut icon" href="{% static " favicon/favicon.ico " %}">
  <meta name="msapplication-TileColor" content="#795548">
  <meta name="msapplication-config" content="favicon/browserconfig.xml">
  <meta name="theme-color" content="#795548">
  <link rel="stylesheet" href="{% static 'bundle.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor.css' %}" />
  {% block stylesheets %}{% endblock %}
</head>

<body>
  {% settings_value 'GA_TRACKING_ID' as tracking_id %}
  {% if tracking_id %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ tracking_id }}');
  </script>
  {% endif %}
  {% block body %}{% endblock %}
  <script src="{% static 'vendor.js' %}"></script>
  <script src="{% static 'bundle.js' %}"></script>
  <script src="https://cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
  <script>
    Raven.config('{% sentry_public_dsn %}').install()
  </script>
  {% block scripts %}{% endblock %}
</body>

</html>
