{% extends 'base.html' %}
{% load static %}
{% load utils %}


{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'project_list.css' %}">
{% endblock %}

{% block content %}
  {% with object_list=object_list project_create_view=project_create_view is_paginated=is_paginated page_obj=page_obj request=request project_links=project_links %}
  {% include 'shared/base_list.html' %}
  {% endwith %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'project_list.js' %}"></script>
{% endblock %}
