{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'project_form.css' %}">
{% endblock %}

{% block content %}
<div class="ui centered stackable grid">
  <div class="ui ten wide column column">
    <div class="ui basic segment">
      <h2 class="ui header">
        {% if project %}Update {{ project }}{% else %}New {{ project_type_singular }}{% endif %}
      </h2>
      {% block disclaimer %}{% endblock %}
      <form class="ui form" method="post">
        {% csrf_token %}
        {% for section in form.sections %}
          <div class="ui segment">
            <div class="ui header">
              {% if section.icon %}<i class="{{ section.icon }} icon"></i>{% endif %}
              <div class="content">
                {{ section.title }}
                {% if section.subtitle %}
                  <div class="sub header">{{ section.subtitle }}</div>
                {% endif %}
              </div>
            </div>

            {% for name in section.fields %}
              {% with form|lookup:name as field %}
                {% with field.widget.input_type as type %}
                <div class="field">
                  <label>{{ field.label }}</label>
                  {{ field }}
                  {% if field.help_text %}
                    <p><span class="ui small grey text">{{ field.help_text }}</span></p>
                  {% endif %}
                </div>
                {% endwith %}
              {% endwith %}
            {% endfor %}
          </div>
        {% endfor %}
        {% block extrafields %}
        {% endblock %}

        <div class="ui stackable centered grid">
          <div class="ui six wide column">
            <button class="ui green vertical animated fluid button" type="submit">
              <div class="hidden content">
                {% if project %}Update {{ project_type_singular }}{% else %}Create {{ project_type_singular }}{% endif %}
              </div>
              <div class="visible content">
                <i class="check icon"></i>
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'project_form.js' %}"></script>
{% endblock %}
