{% extends 'base.html' %}
{% load utils %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'project_detail.css' %}">
{% endblock %}

{% block navtitle %}
{{ block.super }}
<div class="flex-horizontal">
  <a target="_blank" rel="noopener noreferrer"
    {% if object.slack_url %}href="{{ object.slack_url }}" {% endif %}
    class="ui {% if not object.slack_url %}disabled{% endif %} yellow icon button"
  >
    <i class="chat icon"></i>
    Discussion
  </a>
  <a target="_blank" rel="noopener noreferrer"
    {% if object.docs_url %}href="{{ object.docs_url }}" {% endif %}
    class="ui {% if not object.docs_url %}disabled{% endif %} yellow icon button">
    <i class="graduation cup icon"></i>
    Docs
  </a>
  {% block navbuttons %}
  {% endblock %}
  <div class="ui transparent project-actions floating dropdown icon button">
    <i class="ellipsis vertical icon"></i>
    <div class="left menu">
        <div class="item">
          <form method="post" id="project-delete-form" action="{% url project_delete_view object.owner_slug object.name_slug %}">
            {% csrf_token %}
            <button class="ui invisible button" type="submit"><i class="red trash icon"></i> Delete</button>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
  <div class="sixteen wide column">

    {% if checklist %}
    <div class="ui fluid project-detail segment">
      <div class="flex-horizontal--space-between">
        <h3 class="ui marginless header">
          {% if checklist.completed < checklist.total %}
          Not ready for production
          <div class="sub header">
            Before launching this {{ project_type_singular }} to production make sure that you went through all the steps in our checklist
          </div>
          {% else %}
          Ready to roll!
          <div class="sub header">
            You have went through all the steps in our checklist, you may now launch this {{ project_type_singular }} to production
          </div>
          {% endif %}
        </h3>
        <a class="ui basic button" href="{% url project_checklist_view object.owner_slug object.name_slug %}">
          See checklist
        </a>
      </div>
      <br>
      <div class="ui indicating small marginless progress" data-value="{{ checklist.completed }}" data-total="{{ checklist.total }}">
        <div class="bar">
          <div class="progress"></div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if object.repository %}
    <div class="ui fluid project-detail segment">
      <div class="flex-horizontal--space-between">
        <h3 class="ui marginless header">
          <i class="heartbeat icon"></i>
          <div class="content">
            Auditing report
            <div class="sub header">
              {% if issue_count > 0 %}
              <strong>{{ issue_count }}</strong> issues found during the last analysis
              {% else %}
              No issues found so far 🎉 We generate this report hourly, but you can re-generate it if you think it's
              outdated.
              {% endif %}
            </div>
          </div>
        </h3>
        {% if issue_count > 0 %}
        <a href="{% url 'audit_report' project_type object.owner_slug object.name_slug %}" class="ui yellow icon button">
          <i class="clipboard icon"></i>
          View report
        </a>
        {% else %}
        <a href="{% url 'audit_report' project_type object.owner_slug object.name_slug %}?force" class="ui yellow icon button">
          <i class="redo icon"></i>
          Generate report
        </a>
        {% endif %}
      </div>
    </div>

    <div id="repository-details-container" data-url="{% url 'repo_details' object.repository.provider object.repository.remote_id %}">
      <div class="ui fluid project-detail loading segment">
        <div class="flex-horizontal--space-between">
          <h3 class="ui marginless header">
            <div class="content">
              Loading repository data...
              <div class="sub header">
                &nbsp;
              </div>
            </div>
          </h3>
        </div>
      </div>
    </div>
    {% endif %}

    {% block more_details %}{% endblock %}
  </div>
</div>

<a href="{% url project_update_view object.owner_slug object.name_slug %}">
  <button class="ui huge yellow corner circular icon button">
    <i class="ui edit icon"></i>
  </button>
</a>

<div class="ui basic tiny modal">
  <div class="ui icon header">
    <i class="exclamation triangle icon"></i>
    Are you sure?
  </div>
  <div class="centered-text content">
    <label>The {{ project_type_singular }} <b>{{ object.owner }}/{{ object.name }}</b> will be permanently removed.</label>
  </div>
  <div class="actions centered-text">
    <div class="ui red ok inverted button">
      <i class="trash icon"></i>
      Yeah, I'm sure
    </div>
    <div class="ui cancel inverted button">
      Cancel
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% verbatim %}
<script id="repository-details" type="x-tmpl-mustache">
  <div class="ui fluid segment">
      <div class="flex-horizontal--space-between repository-details">
        <h3 class="ui marginless flex-horizontal header">
          {{#avatar}}
          <img class="ui small marginless circular image" src="{{ avatar }}" alt="{{ name }}">
          {{/avatar}}
          <div class="content">
            <a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
            <div class="sub header">
              {{ description }}
            </div>
          </div>
        </h3>
        <div class="flex-horizontal">
          <div class="ui mini statistic" data-content="Stars">
            <div class="value">
              <i class="star icon"></i> {{ stars }}
            </div>
          </div>
          <div class="ui mini statistic" data-content="Forks">
            <div class="value">
              <i class="counterclockwise rotated sitemap icon"></i> {{ forks }}
            </div>
          </div>
          <div class="ui mini statistic" data-content="Branches">
            <div class="value">
              <i class="code branch icon"></i> {{ branch_count }}
            </div>
          </div>
          <div class="ui mini statistic" data-content="Issues">
            <div class="value">
              <i class="bug icon"></i> {{ issue_count }}
            </div>
          </div>
          <div class="ui mini statistic" data-content="Members">
            <div class="value">
              <i class="user icon"></i> {{ member_count }}
            </div>
          </div>
          <a href="{{ url }}/issues/new" target="_blank" rel="noopener noreferrer" class="ui red icon button">
            <i class="code icon"></i>
            Open issue
          </a>
        </div>
      </div>
    </div>
  </script>
{% endverbatim %}
<script src="{% static 'project_detail.js' %}"></script>
{% endblock %}
