{% extends 'shared/project_form.html' %}
{% load static %}
{% load utils %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'service_form.css' %}">
{% endblock %}

{% block menu %}
  {% with selected='services' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block disclaimer %}
  {% singleton 'instance.Hints' as hints %}
  {% if hints.service_form_explanation %}
    <p class="ui secondary yellow segment">{{ hints.service_form_explanation|safe }}</p>
  {% endif %}
{% endblock %}

{% block content %}
  {% with project=service project_type_singular='service' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block extrafields %}
  <div class="environments">
    <div class="flex-horizontal--space-between">
      <h3 class="ui marginless header">Environments</h3>
      <div>
        <button class="ui icon add-environment button" type="button">
          <i class="ui plus icon"></i>
        </button>
      </div>
    </div>
  </div>
  {{ envs_formset.management_form }}
  {% for form in envs_formset %}
    <div class="ui secondary segment environment" {% if not form.has_changed and forloop.counter > 1 %}style="display: none"{% endif %}>
      <div class="ui top left attached label paddingless gitlab-img" {% if form.type != env_type_gitlab %} style="display: none"{% endif %}>
        <img src="{% static 'img/gitlab-icon-rgb.svg' %}" alt="gitlab">
      </div>
      {% if forloop.counter > 1 and form.type != env_type_gitlab %}
        <div class="ui top right attached label paddingless">
          <button class="ui remove-environment icon button marginless" type="button"
                  data-checkbox="{{ form.DELETE.auto_id }}">
            <i class="ui red trash icon"></i>
          </button>
        </div>
      {% endif %}
      {% if form.errors %}
        <div class="ui red message">
          <div class="header">Please correct the following errors</div>
          <ul class="list">
            {% for field, messages in form.errors.items %}
              <li><strong>{{ field }}</strong> - {{ messages|join:" " }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="no-reset">
        {% for field in form %}
          {% with field.field.widget.input_type as type %}
            {% if type == "hidden" %}
              {{ field }}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
      {{ form.DELETE.as_hidden }}
      <input type="hidden" name="{{ form.type.html_name }}" id="{{ form.type.id_for_label }}" {% if form.type.value %} value="{{ form.type.value }}" {% elif forloop.counter == 0 %}value="{{ env_type_zoo }}"{% endif %}>
      <div class="two fields">
        <div class="field name">
          <label>{{ form.name.label }}</label>
          {% if form.type == env_type_gitlab  %}
            <input type="text" value="{{ form.name }}" name="{{ form.name.html_name }}" id="{{ form.name.id_for_label }}" readonly>
          {% else %}
            {{ form.name }}
          {% endif %}
        </div>
        <div class="field dashboard-url">
          <label>{{ form.dashboard_url.label }}</label>
          {{ form.dashboard_url }}
        </div>
      </div>
      <div class="field logs-url">
        <label>{{ form.logs_url.label }}</label>
        {{ form.logs_url }}
      </div>
      <div class="field service-urls">
        <label>{{ form.service_urls.label }}</label>
        {% if form.type == env_type_gitlab  %}
          <input type="text" value="{{ form.service_urls }}" name="{{ form.service_urls.html_name }}" id="{{ form.service_urls.id_for_label }}" readonly>
        {% else %}
          {{ form.service_urls }}
        {% endif %}
      </div>
      <div class="field open_api_url">
        <label>{{ form.open_api_url.label }}</label>
        {{ form.open_api_url }}
      </div>
    </div>
  {% endfor %}

  <div class="links">
    <div class="flex-horizontal--space-between">
      <h3 class="ui marginless header">Links</h3>
      <button class="ui icon add-link button" type="button">
        <i class="ui plus icon"></i>
      </button>
    </div>
    {{ links_formset.management_form }}
    {% for form in links_formset %}
      <div class="ui secondary segment link" {% if not form.has_changed and forloop.counter > 1 %}style="display: none"{% endif %}>
        {% if forloop.counter > 1 %}
          <div class="ui top right attached label paddingless">
            <button class="ui remove-link icon button marginless" type="button"
                    data-checkbox="{{ form.DELETE.auto_id }}">
              <i class="ui red trash icon"></i>
            </button>
          </div>
        {% endif %}
        {% if form.errors %}
          <div class="ui red message">
            <div class="header">Please correct the following errors</div>
            <ul class="list">
              {% for field, messages in form.errors.items %}
                <li><strong>{{ field }}</strong> - {{ messages|join:" " }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="no-reset">
          {% for field in form %}
            {% with field.field.widget.input_type as type %}
              {% if type == "hidden" %}
                {{ field }}
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>
        {{ form.DELETE.as_hidden }}
        <div class="two fields">
          <div class="field name">
            <label>{{ form.name.label }}</label>
            {{ form.name }}
          </div>
          <div class="field url">
            <label>{{ form.url.label }}</label>
            {{ form.url }}
          </div>
        </div>
        <div class="field icon">
          <label>{{ form.icon.label }}</label>
          <div class="ui right labeled input icon-hint">
            {{ form.icon }}
            <div class="ui basic label"
                 data-html='<h5>Icon like</h5><p><code>cloud</code><br><code>poop</code><br><br><a href="https://fomantic-ui.com/elements/icon.html" target="_blank" rel="noopener noreferrer">Check icon list</a><br></p>'>
              <i class="info icon marginless"></i>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    const envTypeZoo = '{{ env_type_zoo }}';
  </script>
  <script  src="{% static 'service_form.js' %}"></script>
{% endblock %}
