{% extends 'shared/project_detail.html' %}
{% load utils %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'service_detail.css' %}">
{% endblock %}

{% block menu %}
  {% with selected='services' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navtitle %}
  {% with project_delete_view='service_delete' icon='cogs' to_url='/services' header=object.name|add:' service' project_update_view='service_update' subheader='owned by '|add:object.owner %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  {% with project_type='services' project_type_singular='service' project_update_view='service_update' project_checklist_view='service_checklist' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content_menu %}
  {% if object.repository %}
  <a class="loading item" data-tab="openapi">
    <i class="route icon"></i>
    API
  </a>
  {% endif %}
  {% if object.datacenters.count %}
  <a class="item" data-tab="infrastructure">
    <i class="server icon"></i>
    Infrastructure
  </a>
  {% endif %}
  <div class="right menu">

    <a class="ui {% if not object.slack_url %}disabled{% endif %} item" href="{{ object.slack_url }}" target="_blank" rel="noopener noreferrer">
      <i class="comment dots icon"></i>
      discussion
    </a>
    <a class="ui {% if not environment.dashboard_url %}disabled{% endif %} item" href="{{ environment.dashboard_url }}" target="_blank" rel="noopener noreferrer">
      <i class="dashboard icon"></i>
      dashboard
    </a>
    <a class="ui {% if not environment.logs_url %}disabled{% endif %} item" href="{{ environment.logs_url }}" target="_blank" rel="noopener noreferrer">
      <i class="file alternate icon"></i>
      logs
    </a>
    <a class="ui {% if not object.docs_url %}disabled{% endif %} item" href="{{ object.docs_url }}" target="_blank" rel="noopener noreferrer">
      <i class="graduation cap icon"></i>
      docs
    </a>

    {% if object.environments_dict|length >= 1 %}
    <div class="ui environments item top pointing fade dropdown">
      <i class="laptop icon"></i> env:{{ environment.name }}
      <div class="large bottom menu transition">
        <h4 class="ui header">Environments</h4>
        {% for name in object.environments_dict %}
          <a class="item {% if environment.name == name %}active{% endif %}" href="{{ request.path }}?environment={{ name }}">
            <i class="laptop icon"></i> {{ name }}
          </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block priority_details %}
  {% if environment.service_urls %}
  <h4 class="ui grey header">
    <i class="globe americas icon"></i>
    <div class="content">
      <a class="ui small header" href="{{ environment.service_urls.0 }}" target="_blank" rel="noopener noreferrer" style="color: #4183c4;">
        {{ environment.service_urls.0 }}
      </a>
    </div>
  </h2>
  {% endif %}

  {% if object.pagerduty_service_id %}
  <div
    id="pagerduty-details-container"
    class="ui fluid loading segment"
    data-url="{% url 'pagerduty_service_details' service_id=object.pagerduty_service_id %}"
  >
    <div class="flex-horizontal--space-between">
      <h3 class="ui marginless header">
        <div class="content">
          Loading pagerduty data...
          <div class="sub header">
            &nbsp;
          </div>
        </div>
      </h3>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block additional_details %}
  {% if sentry_data %}
  <div class="sixteen wide column">
    <div class="ui sentry-stats segment">
      <div class="flex-horizontal panel-title">
        <h3 class="ui marginless header">
          <svg aria-hidden="true" class="ui marginless sentry-own icon" height="32" viewBox="0 0 265.98 249.68"
            version="1.1">
            <path xmlns="http://www.w3.org/2000/svg" d="M144.9,65.43a13.75,13.75,0,0,0-23.81,0l-19.6,33.95,5,2.87a96.14,96.14,0,0,1,47.83,77.4H140.56a82.4,82.4,0,0,0-41-65.54l-5-2.86L76.3,143l5,2.87a46.35,46.35,0,0,1,22.46,33.78H72.33a2.27,2.27,0,0,1-2-3.41l8.76-15.17a31.87,31.87,0,0,0-10-5.71L60.42,170.5a13.75,13.75,0,0,0,11.91,20.62h43.25v-5.73A57.16,57.16,0,0,0,91.84,139l6.88-11.92a70.93,70.93,0,0,1,30.56,58.26v5.74h36.65v-5.73A107.62,107.62,0,0,0,117.09,95.3L131,71.17a2.27,2.27,0,0,1,3.93,0l60.66,105.07a2.27,2.27,0,0,1-2,3.41H179.4c.18,3.83.2,7.66,0,11.48h14.24a13.75,13.75,0,0,0,11.91-20.62Z" />
          </svg>
          Sentry stats
        </h3>
        <div>
          {{ sentry_data.weekly_events|short_int_word }} weekly issues | {{ sentry_data.weekly_users|short_int_word }} users affected
        </div>
      </div>
      <h4 class="ui {% label_color 'rating' object.rating_grade %} sentry-rating header">
        <i class="{% label_icon 'rating' object.rating_grade %} icon"></i>
        <div class="content">
          This project has been rated <span class="ui big {% label_color 'rating' object.rating_grade %} circular rating-grade label">{{ object.rating_grade }}</span>
          <div class="sub header">
            {{ object.rating_reason }}
          </div>
        </div>
      </h4>
      {% if sentry_data.issues %}
      <div class="flex-horizontal--space-between">
        <h5 class="ui marginless header">Here is a list of the issues that we recommend checking:</h5>
        <div class="ui basic circular small icon button" id="issue-description">
          <i class="help icon"></i>
        </div>
        <div class="ui issue-description-popup popup">
          <h5 class="ui marginless header">
            Issue clasification
          </h5>
          <br>
          <p>
            The classification of the issues is based on the number of days the event has been reported during a
            specific time window.
          </p>
          <table class="ui small table">
            <tr>
              <td class="collapsing"><span class="ui red circular label">stale</span></td>
              <td style="text-align: right;">seen 14 out of last 14 days</td>
            </tr>
            <tr>
              <td class="collapsing"><span class="ui orange circular label">decaying</span></td>
              <td style="text-align: right;">seen 7 out of last 14 days</td>
            </tr>
            <tr>
              <td class="collapsing"><span class="ui yellow circular label">spoiled</span></td>
              <td style="text-align: right;">seen 4 out of last 7 days</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="sentry-issues-container">
        <table class="ui very basic striped table">
          <tbody>
            {% for sentry_issue in sentry_data.issues %}
            <tr>
              <td class="collapsing">{{ sentry_issue.instance.short_id }}</td>
              <td>
                <h5 class="ui marginless header">
                  <a target="_blank" rel="noopener noreferrer" href="{{ sentry_issue.instance.permalink }}">{{ sentry_issue.instance.title }}</a>
                  <div class="sub header">
                    {{ sentry_issue.instance.culprit }}
                  </div>
                </h5>
              </td>
              <td class="centered-text collapsing">
                <div class="ui {% label_color 'sentry_issue_category' sentry_issue.instance.category %} circular label">
                  {{ sentry_issue.instance.category }}
                </div>
              </td>
              <td class="issue-stats collapsing">
                <div class="flex-vertical">
                  <span>{{ sentry_issue.instance.events|short_int_word }} events</span>
                  <span>{{ sentry_issue.instance.users|short_int_word }} users</span>
                </div>
              </td>
              <td class="collapsing">
                {% with height=32 width=5 results=sentry_issue.histogram %}
                {% include 'shared/histogram.html' %}
                {% endwith %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block extra_components %}
  {% if object.repository %}
    {% verbatim %}
    <div class="ui stackable grid tab" data-tab="openapi">
      {% endverbatim %}
      <div id="openapi-visualizer" data-url="{% url 'repo_openapi' object.repository.provider object.repository.remote_id %}">
      {% verbatim %}
        <div v-for="spec of specs" class="ui segment">
          <div class="flex-horizontal--space-between spec-def">
            <h3 class="ui marginless api header">
              <i class="route icon"></i>
              <div class="content">
                {{ spec.info.title }}
                <div class="sub header">{{ spec.info.description }}</div>
              </div>
            </h3>
            <div>
              <div class="ui blue large circular regular-font label">version:<b>{{ spec.info.version }}</b></div>
              <div class="ui green large circular regular-font label" v-if="spec.openapi">openapi:<b>{{ spec.openapi }}</b></div>
              <div class="ui brown large circular regular-font label" v-if="spec.swagger">swagger:<b>{{ spec.swagger }}</b></div>
            </div>
          </div>
          <swagger-ui :spec="spec" docExpansion="none" />
        </div>
      </div>
    </div>
    {% endverbatim %}
  {% endif %}

  {% if object.datacenters.count %}
    {% include "datacenters/infra_overview.html" with datacenters=object.datacenters.all only %}
  {% endif %}
{% endblock %}

{% block scripts %}
{% verbatim %}
  <script id="pagerduty-details" type="x-tmpl-mustache">
    <div class="flex-horizontal--space-between pagerduty-details">
      <h3 class="ui marginless header">
        <i class="pager icon"></i>
        <div class="content">
          {{ #oncall }}
            <a target="_blank" href="{{ oncall.html_url }}">{{ oncall.summary }}</a>
          {{ /oncall }}
          {{ ^oncall }}
            No one
          {{ /oncall }}
          is On-Call
          <div class="sub header">
            {{ summary }}
          </div>
        </div>
      </h3>
      <div class="flex-horizontal">
        <div class="ui mini statistic" data-content="Active incidents">
          <div class="value">
            <i class="fire extinguisher icon"></i> {{ incidents.active_total }}
          </div>
        </div>
        <div class="ui mini statistic" data-content="Incidents during the last week">
          <div class="value">
            <i class="calendar times outline icon"></i> {{ incidents.past_week_total }}
          </div>
        </div>
        <a target="_blank" rel="noopener noreferrer" href="{{ html_url }}" class="ui button">
          <i class="warning circle icon"></i>
          Create incident
        </a>
      </div>
    </div>
    {{ #incidents.active_total }}
      <div class="ui segments">
      {{ #incidents.active }}
        <div class="ui segment {{ color }}">
          <div class="flex-horizontal--space-between">
            <h4 class="ui {{ color }} marginless header">
              <div class="content">Incident <a href="{{ html_url }}">{{ summary }}</a></div>
              <div class="sub header">
                <b>description:</b> {{ description }}
              </div>
            </h4>
            <a class="ui {{ color }} circular black-text label">status:{{ status }}</a>
          </div>
        </div>
      {{ /incidents.active }}
      </div>
    {{ /incidents.active_total }}
  </script>
{% endverbatim %}
{{ block.super }}
<script src="{% static 'service_detail.js' %}"></script>
{% endblock %}
