{% extends 'shared/project_form.html' %}
{% load static %}
{% load utils %}

{% block menu %}
  {% with selected='libraries' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block disclaimer %}
{% singleton 'instance.Hints' as hints %}
{% if hints.library_form_explanation %}
<p class="ui secondary yellow segment">{{ hints.library_form_explanation|safe }}</p>
{% endif %}
{% endblock %}

{% block content %}
  {% with project=library project_type_singular='library' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
