{% extends 'shared/project_list.html' %}
{% load static %}
{% load utils %}

{% block menu %}
  {% with selected='libraries' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navtitle %}
  {% with icon='book' header='Library list' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  {% with project_type='libraries' project_create_view='library_create'  project_links=project_links is_paginated=is_paginated page_obj=page_obj request=request %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
