{% extends 'shared/project_detail.html' %}
{% load utils %}
{% load static %}

{% block menu %}
  {% with selected='libraries' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  {% with project_type='libraries' project_type_singular='library' project_checklist_view='library_checklist' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content_menu %}
  <div class="right menu">
    <a class="ui {% if not object.slack_url %}disabled{% endif %} item" href="{{ object.slack_url }}" target="_blank" rel="noopener noreferrer">
      <i class="comment dots icon"></i>
      discussion
    </a>
    <a class="ui {% if not object.docs_url %}disabled{% endif %} item" href="{{ object.docs_url }}" target="_blank" rel="noopener noreferrer">
      <i class="graduation cap icon"></i>
      docs
    </a>
  </div>
{% endblock %}
