{% extends 'base.html' %}
{% load utils %}
{% load static %}

{% block menu %}
  {% with selected='objective_list' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
{% if objective_list %}
<table class="ui striped selectable table">
  <thead>
    <tr>
      <th>Service</th>
      <th class="centered-text collapsing">Indicator</th>
      <th class="centered-text collapsing">Check</th>
      <th class="centered-text collapsing">Target</th>
      <th class="centered-text collapsing">Latest value</th>
    </tr>
  </thead>
  <tbody>
    {% for objective in objective_list %}
    <tr class="{% objective_row_color objective %}">
      <td>
        <a class="ui compact brown labeled icon button" href="{{ objective.service.get_absolute_url }}">
          <i class="cogs icon"></i>
          {{ objective.service.key }}
        </a>
      </td>
      <td>
        <div class="ui action input">
          <input type="text" class="indicator-query" value="{{ objective.indicator_query }}" readonly>
          <button class="ui copy-to-clipboard basic icon button">
            <i class="clipboard icon"></i>
          </button>
        </div>
      </td>
      <td class="centered-text collapsing">
        {% if objective.check_url %}<a href="{{ objective.check_url }}" target="_blank" rel="noopener noreferrer">{% endif %}
          {{ objective.indicator_source }}
        {% if objective.check_url %}</a>{% endif %}
      </td>
      <td class="centered-text collapsing">
        <div class="ui brown label">
          {% if objective.target_type == 'above' %}>{% else %}<{% endif %}
          {% if objective.indicator_source == 'pingdom' %}
            {{ objective.target | percent }}
          {% else %}
            {{ objective.target }}
          {% endif %}
        </div>
      </td>
      <td class="centered-text collapsing">
        <div class="ui {% objective_label_color objective %} label">
          {% if objective.latest_value.indicator_value %}
            {% if objective.indicator_source == 'pingdom' %}
              {{ objective.latest_value.indicator_value | percent }}
            {% else %}
              {{ objective.latest_value.indicator_value }}
            {% endif %}
          {% else %}
            -
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="ui basic center aligned segment">
  <h2 class="ui header">
    No objectives found
  </h2>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'objective_list.js' %}"></script>
{% endblock %}
