<div id="repo-input" class="repo-input-container">
  <repo-input></repo-input>
</div>

<script>
  const repoList = [
    {% for repo in repos %}
    {
      id: {{ repo.pk }},
      provider: '{{ repo.provider }}',
      owner: '{{ repo.owner }}',
      reference: '{{ repo }}',
      label: '<i class="brown {{ repo.provider }} icon"></i>  {{ repo }}'
    },
    {% endfor %}
  ];
  const repoInputInfo = {
    id: '{{ widget.attrs.id }}',
    required: '{{ widget.required }}' == 'True',
    name: '{{ widget.name }}',
    initialValue: '{{ widget.value|default:"" }}'
  };
</script>
